@keyframes floatRotate {
    0% {
        transform: rotate(0) translateY(-30px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translateY(-30px) rotate(-360deg);
    }
}
.floating-self {
    animation: floatRotate 12s linear infinite;
}
